<div style="margin-top: 50px">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Select an action</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="this" class="col-sm-1 control-label">IF</label>
                            <div class="col-sm-4">
                                <select id="this" class="form-control" ng-model="mthselect">
                                    <option value="volvo">Temperature > than</option>
                                    <option value="saab">Temperature < than</option>
                                    <option value="opel">Temperature = to</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="text"  ng-model="ths" class="form-control"/>
                            </div>
                            <label for="that" class="col-sm-1 control-label">THEN</label>
                            <div class="col-sm-4">
                                <select id="that" class="form-control" ng-model="mthatselect">
                                    <option value="volvo">Set Channel</option>
                                    <option value="saab">Channel Up </option>
                                    <option value="opel">Channel Down</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="ths=null; mcncl=true">Cancel</button>
                    <button type="button" class="btn btn-success"  data-dismiss="modal" ng-click="mcrt=true;">Save changes</button>
                </div>
            </div>
        </div>
    </div>






</div>
<div class="overlay" ng-class="{'no-overlay': !audioMessageOn}">
  <h2>Search</h2>
  <input type="text" id="searchText" name="searchText" ng-value="searchText"
         class="form-control"autofocus />
  <div ng-if="alert !== undefined" id="command-feedback">
    <div class="alert alert-{{alert}}" role="alert">
      <i class="fa {{icon}}" aria-hidden="true"></i>
      {{commandResult}}
    </div>
  </div>
</div>

<ifttt env="environment" mthis="mthselect" mthat="mthatselect" cancel="mcncl" create="mcrt" ></ifttt>